<template>
  <div class="tile is-ancestor">
    <div class="image">
      <img
        src="https://storage.googleapis.com/kargotech-web/2022/04/13b98f45-jasa-ekspedisi.png"
      />
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box notification is-success">
        <p class="title">Kirim Barang</p>
        <div class="buttons">
          <button class="button is-info is-outlined">
            <nav><RouterLink to="/task">List</RouterLink></nav>
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="tile is-2 is-horizontal is-parent">
      <div class="tile is-child box">
        <p class="title">One</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare
          magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa
          sem. Etiam finibus odio quis feugiat facilisis.
        </p>
      </div>
      <div class="tile is-child box">
        <p class="title">Two</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare
          magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa
          sem. Etiam finibus odio quis feugiat facilisis.
        </p>
      </div>
    </div> -->
    <div class="tile is-parent">
      <div class="tile is-child box notification is-info">
        <p class="title">Form Pengiriman Barang</p>
        <div class="buttons">
          <button class="button is-link is-outlined">
            <nav>
              <RouterLink to="/Form">Form</RouterLink>
            </nav>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTodo } from "../stores/index.js";
export default {
  setup() {
    const TODO = useTodo();
    return { TODO };
  },
  created() {
    this.TODO.getNewTasks();
  },
};
</script>

<style>
@import "bulma/css/bulma.min.css";
.line-through {
  text-decoration: line-through;
}
.image {
  height: 300px;
  width: 800px;
}
nav {
  color: beige;
}
.buttons h1 {
  color: rgb(103, 39, 39);
  font-size: 50px;
}
</style>
