<template>
  <div class="to-do">
    <div class="title has-text-centered">Form Pengiriman Barang</div>
    <div>
      <div class="field is-grouped mb-5">
        <p class="control is-expanded">
          Nama Barang:
          <input
            type="text"
            name="newTask"
            v-model="TODO.task.newTask"
            class="input"
            placeholder="Apa yang mau dikirim"
          />
          Nama Pengirim:
          <input
            type="text"
            name="nama"
            v-model="TODO.task.nama"
            class="input"
            placeholder="tulis nama anda"
          />
          Nomor Kontak:
          <input
            type="text"
            name="nomor"
            v-model="TODO.task.nomor"
            class="input"
            placeholder="tulis nama anda"
          />
          Alamat Penerima:
          <input
            type="text"
            name="tujuan"
            v-model="TODO.task.tujuan"
            class="input"
            placeholder="tulis nama anda"
          />
          Nama Penerima:
          <input
            type="text"
            name="penerima"
            v-model="TODO.task.penerima"
            class="input"
            placeholder="tulis nama anda"
          />
        </p>
      </div>
      <p class="control">
        <button
          @click="TODO.addNewTask()"
          :disabled="!TODO.task.penerima"
          class="button is-info"
        >
          Submit
        </button>
      </p>
    </div>
  </div>
</template>

<script>
import { useTodo } from "../stores/index.js";
export default {
  setup() {
    const TODO = useTodo();
    return { TODO };
  },
  created() {
    this.TODO.getNewTasks();
  },
};
</script>

<style>
@import "bulma/css/bulma.min.css";

.to-do {
  background-color: rgb(188, 188, 241);
  max-width: 400 px;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
}

.line-through {
  text-decoration: line-through;
}

h5 {
  color: rgb(103, 39, 39);
}
</style>
