<template>
  <div class="about">
    <div class="to-do">
      <div class="title has-text-centered">Daftar Barang yang Dikirim</div>
      <div
        v-for="(item, index) in TODO.task.newTodo"
        :key="index"
        class="card mb-5"
      >
        <!-- H4 fungsinya buat mengedit melalui input -->
        <div class="card-content">
          <div class="content">
            <div class="columns is-mobile is-vcentered">
              <div class="column">
                <h6>Jenis Barang:</h6>
                <p>{{ item.task }}</p>
                <h6>Nama Pengirim:</h6>
                <p>{{ item.nama }}</p>
                <h6>Tujuan:</h6>
                <p>{{ item.tujuan }}</p>
              </div>
              <div class="column is-6 has-text-right">
                <button @click="TODO.updateStatus(item.id)" class="button ml-3">
                  &check;
                </button>
                <button
                  @click="TODO.deleteTask(item.id)"
                  class="button is-danger ml-3"
                >
                  &cross;
                </button>
              </div>
            </div>
            <input
              class="input"
              type="text"
              name=""
              id=""
              v-model="item.task"
              v-if="showEdit == true"
              @keyup.enter="TODO.editTask(item.id), (showEdit = false)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useTodo } from "../stores/index.js";
export default {
  data() {
    return {
      showEdit: false,
    };
  },
  setup() {
    const TODO = useTodo();
    return { TODO };
  },
  created() {
    this.TODO.getNewTasks();
  },
};
</script>
