<template>
  <div class="max-auto flex justify content">
    <div class="container is-fullhd"></div>
    <div class="wrapper">
      <nav class="level">
        <div class="judul">KirimBarang</div>
        <p class="level-item has-text-centered">
          <RouterLink to="/">Home</RouterLink>
        </p>
        <p class="level-item has-text-centered">
          <RouterLink to="/task">List</RouterLink>
        </p>
        <p class="level-item has-text-centered">
          <RouterLink to="/key">key</RouterLink>
        </p>
      </nav>
    </div>
  </div>
  <RouterView />
</template>

<script>
export default {};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import "bulma/css/bulma.min.css";
.wrapper {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 20px;
}
.judul {
  background-color: #f5f5f5;
  border-radius: 4px;
  position: relative;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  background-color: #06943d;
  color: #fff;
  font-family: "Righteous", cursive;
  font-size: 35px;
}
nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
